h1{
    color: rgba(72, 9, 172, 0.911); 
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 3px 2px rgb(22, 8, 148);
    font-weight: bold;
    font-size: 50pt;
    padding: 1px;
    margin: 0px;  
}
h2{
    display:inline;
}
.h3-hnewhead{
    color: rgba(14, 10, 223, 0.986); 
    font-family: 'Times New Roman', Times, serif;
    font-size: 24pt;  
}

.h4-body{
    color: black; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;  
    margin: 1px;  

}

.circle{
    display: inline;
    width: 40px;
    border-radius: 50px;
    border: 2px white solid;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0; 
}

body{ 
    background-image: url(Attachments/background2.jpg); 
    background-size: cover
}

span {
    margin: 0 10px;
}