
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{ 
    background-image: url(Attachments/background3.jpg); 
    background-size: cover;
    backdrop-filter: blur(5px);
}

h1{
    font-family: 'Pacifico', cursive;
    color: rgba(72, 9, 172, 0.911);    
    text-shadow: 3px 2px rgb(22, 8, 148);
    font-size: 50pt;
    padding: 1px;
    margin: 0px;  
    opacity: 1;
}

.circle{
    display: inline;
    width: 40px;
    border-radius: 50px;
    border: 2px white solid;
}

h2{
    display:inline;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid white;
    margin: 1em 0;
    padding: 0; 
}

.container {
	position: relative;
	top: 30px;
}
